/* -IMPORTANT */
/*-ID*/
/* -CLASS */
/* -SELECTOR/ETIQUETA */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  background: linear-gradient(to bottom, blue, green);
  max-width: 1920px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a319d;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar input[type=checkbox] {
  display: none;
}
.navbar .hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
}
.navbar .hamburger .line {
  width: 100%;
  height: 4px;
  background-color: #000000;
  transition: all 0.3s;
}
.navbar .menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #3a319d;
  width: 100%;
  z-index: 1;
  animation: slideDown 0.3s ease;
}
.navbar .menu li {
  margin: 1rem 0;
}
.navbar .menu li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: #000000;
}
.navbar input[type=checkbox]:checked + .hamburger + .menu {
  display: block;
  animation: slideDown 0.3s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu {
  display: block;
  flex-direction: row;
}
.menu li {
  margin: 0 1rem;
}

.hamburger {
  display: flex;
}

@media (min-width: 768px) {
  .menu {
    display: flex;
  }
  input[type=checkbox] {
    display: none;
  }
}
.animation_1, .animation_2, .animation_3, .animation_4, .animation_5 {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}
.animation_1:hover, .animation_2:hover, .animation_3:hover, .animation_4:hover, .animation_5:hover {
  transform: translateX(50px);
  transition: 1s;
}

.animation_1, .animation_2, .animation_3, .animation_4, .animation_5 {
  display: flex;
}
@media (max-width: 767px) {
  .animation_1, .animation_2, .animation_3, .animation_4, .animation_5 {
    display: none;
  }
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.titulo {
  padding: 30px;
  margin: 30px;
}

.imagen_portada {
  max-width: 100%;
  height: auto;
}

.texto_portada {
  text-align: center;
  padding: 50px;
  margin: 50px;
}

#footer {
  display: flex;
  justify-content: space-around;
  background-color: grey;
  align-items: center;
  padding: 5px 0;
  margin-top: 100px;
}

#footer_1 {
  display: flex;
  justify-content: space-around;
  background-color: rgba(17, 105, 20, 0.561);
  align-items: center;
  padding: 5px 0;
  margin-top: 100px;
}

.footer_logo img {
  width: 90px;
}

.footer_links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer_facebook, .footer_instagram, .footer_youtube {
  font-size: 25px;
}

.img_logo {
  width: 60px;
}

#concepto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  display: inline-block;
  padding-left: 100px;
}

.boton {
  padding: 10px 30px;
  margin: 0px 0px 50px 500px;
  background-color: #22748b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.boton:hover {
  background-color: #022992;
}

.img_1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_1 .reducido_1 {
  width: 50%;
  height: auto;
  border-radius: 50px;
}

.img_2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_2 .reducido_2 {
  width: 50%;
  height: auto;
  border-radius: 50px;
}

.img_3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_3 .reducido_3 {
  width: 50%;
  height: auto;
  border-radius: 50px;
}

.img_4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_4 .reducido_4 {
  width: 50%;
  height: auto;
  border-radius: 50px;
}

.texto_1, .texto_2, .texto_3, .texto_4 {
  padding-top: 50px;
}

#footer_2 {
  display: flex;
  justify-content: space-around;
  background-color: rgba(19, 156, 14, 0.887);
  align-items: center;
  padding: 10px 0;
  margin-top: 10vh;
}

.footer_logo img {
  width: 90px;
}

.footer_links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer_facebook, .footer_instagram, .footer_youtube {
  font-size: 25px;
}

.img_logo2 {
  width: 60px;
}

#aportes {
  width: 10% 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  display: inline-block;
  padding-left: 100px;
}

.barra_1 {
  display: flex;
  display: block;
  padding-bottom: 30px;
  padding-left: 400px;
}

.barra_2 {
  display: flex;
  display: block;
  padding-bottom: 30px;
  padding-left: 400px;
}

.barra_3 {
  display: flex;
  display: block;
  padding-left: 400px;
}

.aportes-img {
  width: 30%;
  height: 30%;
  display: flex;
  align-items: center;
}

.rating {
  direction: rtl;
  unicode-bidi: bidi-override;
  font-size: 2rem;
  display: inline-flex;
  padding-left: 400px;
}

.rating {
  direction: rtl;
  unicode-bidi: bidi-override;
  font-size: 2rem;
  display: inline-flex;
}

.rating input {
  display: none;
}

.rating label {
  color: #ddd;
  cursor: pointer;
  padding: 0 0.1rem;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: gold;
}

.contenido {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#footer_3 {
  display: flex;
  justify-content: space-around;
  background-color: rgb(26, 146, 44);
  align-items: center;
  padding: 10px 0;
  margin-top: 100px;
}

.footer_logo img {
  width: 90px;
}

.footer_links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer_facebook, .footer_instagram, .footer_youtube {
  font-size: 25px;
}

.img_logo3 {
  width: 60px;
}

#aprendeATocar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aprendeGuitarra, .aprendeViolin, .aprendeBajo, .aprendePiano {
  width: 600px;
}

.barra {
  padding: 50px;
}

#footer_4 {
  display: flex;
  justify-content: space-around;
  background-color: rgb(44, 151, 32);
  align-items: center;
  padding: 10px 0;
  margin-top: 100px;
}

.footer_logo img {
  width: 90px;
}

.footer_links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer_facebook, .footer_instagram, .footer_youtube {
  font-size: 25px;
}

.img_logo4 {
  width: 60px;
}

#contacto {
  width: 10% 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  display: inline-block;
  margin-left: 300px;
  padding: 70px;
  margin-right: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.texto_13 {
  display: flex;
  justify-content: center;
}

.mapa {
  display: flex;
  display: inline;
  padding-top: 320px;
  padding-left: 30px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.etiqueta_1, .etiqueta_2, .etiqueta_3, .etiqueta_4 {
  display: flex;
  display: block;
  margin-bottom: 20px;
}

#footer_5 {
  display: flex;
  justify-content: space-around;
  background-color: rgb(35, 158, 53);
  align-items: center;
  padding: 10px 0;
  margin-top: 20vh;
}

.footer_logo5 img {
  width: 90px;
}

.img_logo5 {
  width: 60px;
}

/*# sourceMappingURL=style.css.map */
