$primary-color: #000000;
$background-color: rgb(246, 246, 246);
$text-color: #333;
$menu-transition: 0.3s ease;

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    input[type="checkbox"] {
        display: none; // Ocultar checkbox
    }

    .hamburger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;

        .line {
            width: 100%;
            height: 4px;
            background-color: $primary-color;
            transition: all 0.3s;
        }
    }

    .menu {
        display: none; // Ocultar menú por defecto
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute; // Posicionar el menú sobre la barra
        top: 100%; // Ubicar debajo de la barra
        left: 0;
        background-color: $background-color; // Fondo del menú
        width: 100%; // Asegura que el menú use todo el ancho
        z-index: 1; // Asegura que el menú esté por encima de otros elementos

        li {
            margin: 1rem 0;

            a {
                text-decoration: none;
                color: $text-color;
                transition: transform 0.3s ease;

                &:hover {
                    color: $primary-color;
                    transform: translateX(10px); // Desplazar el enlace
                }
            }
        }
    }

    // Mostrar el menú cuando el checkbox está marcado
    input[type="checkbox"]:checked + .hamburger + .menu {
        display: block; // Mostrar menú
        @media (min-width: 768px) {
            animation: slideDown $menu-transition; // Aplicar animación solo en pantallas grandes
        }
    }
}

// Animación para el menú
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// Media Query para pantallas grandes
@media (min-width: 1024px) {
.animation_1,
.animation_2,
.animation_3,
.animation_4,
.animation_5 {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateX(50px);
        transition: 1s;
    }
}

// Animaciones para elementos

    }

    .hamburger {
        display: none; // Ocultar el ícono de hamburguesa en pantallas grandes
    }