
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;

}

body{
    background: linear-gradient(to bottom,rgb(246, 246, 246),rgb(142, 155, 26));
    max-width: 1920px;
}