
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;

}

body{
    background: linear-gradient(to bottom,blue,green);
    max-width: 1920px;
}