#aprendeATocar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.aprendeGuitarra , .aprendeViolin , .aprendeBajo , .aprendePiano{
    width: 600px;
}

.barra{
    padding: 50px;
}