#footer_5{
    display: flex;
    justify-content: space-around;
    background-color: rgb(125, 127, 127);
    align-items: center;
    padding: 10px 0;
    margin-top: 20vh;
}

.footer_logo5 img{
    width: 90px;
}

.img_logo5{
    width: 60px;
}