$transparente: rgba(255, 255, 255, 0.5); // Color blanco con 50% de opacidad

#contacto {
    width: 80%; // Ancho en desktop
    max-width: 500px; // Limitar el ancho máximo
    height: auto; // Ajustar según contenido
    display: flex;
    flex-direction: column; // Alineación vertical
    justify-content: center;
    align-items: center;
    margin: 100px auto; // Centrado automático en horizontal
    padding: 70px;
    background-color: $transparente;
    border-radius: 10px; // Bordes redondeados
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Sombra para efecto

    @media (max-width: 768px) {
        width: 90%; // Aumentar el ancho en móviles
        margin-top: 50px; // Reduce el margen superior
        padding: 40px; // Reduce el padding
        box-shadow: none; // Quitar sombra en móviles si es necesario
    }
}

.texto_13 {
    display: flex;
    justify-content: center;
    width: 100%; // Asegurarse de que ocupe todo el ancho
    font-size: 24px; // Tamaño de fuente en desktop
    margin-bottom: 20px; // Espaciado inferior

    @media (max-width: 768px) {
        font-size: 18px; // Ajusta el tamaño de fuente en móviles
        padding: 0 10px; // Añade un poco de padding horizontal
    }
}

.mapa {
    display: flex;
    justify-content: center; // Centrar contenido
    align-items: center; // Centrar verticalmente
    flex-direction: row; // Mantener alineación horizontal
    flex-wrap: wrap; // Permitir que los elementos se ajusten si es necesario
    width: 100%; // Asegurarse de que ocupe todo el ancho
    padding: 40px; // Ajusta el padding según el diseño
    background-color: $transparente;
    border-radius: 20px; // Bordes redondeados
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
        padding: 10px; // Reduce el padding para pantallas pequeñas
        border-radius: 15px; // Ajusta el radio de los bordes
        flex-direction: column; // Alineación vertical en móviles
    }
}

.map-container {
    position: relative; // Para mantener el iframe en proporción
    width: 100%; // Asegúrate de que ocupe todo el ancho
    overflow: hidden; // Ocultar cualquier desbordamiento

    // Mantener la relación de aspecto
    height: 0; 
    padding-bottom: 56.25%; // 16:9 Aspect Ratio

    .map-iframe {
        position: absolute; // Posicionarlo absolutamente
        top: 0;
        left: 0;
        width: 100%; // Ancho completo
        height: 100%; // Altura completa
        border: 0; // Quitar borde del iframe
    }
}

.etiqueta_1, .etiqueta_2, .etiqueta_3, .etiqueta_4 {
    display: block; // Cambiado a block
    margin-bottom: 20px; // Espaciado entre etiquetas
    width: 100%; // Asegurarse de que ocupe todo el ancho

    @media (max-width: 768px) {
        margin-bottom: 10px; // Reduce el margen en pantallas pequeñas
        font-size: 14px; // Ajusta el tamaño de fuente
        padding: 0 10px; // Padding para mantener la consistencia
    }
}