#contacto{
    width: 10%0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    display: inline-block;
    margin-left: 300px;
    

    
$transparente: rgba(255, 255, 255, 0.5); // Color blanco con 50% de opacidad

  padding: 70px;
  margin-right: 50px;
  background-color: $transparente;
  border-radius: 10px; // Opcional, para bordes redondeados
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Sombra para darle un efecto
}


.texto_13{
    display: flex;
    justify-content: center;
    
}

.mapa{  
display: flex; 
display: inline;









    $transparente: rgba(255, 255, 255, 0.5); // Color blanco con 50% de opacidad

  padding-top: 320px;
  padding-left: 30px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: $transparente;
  border-radius: 50px; // Opcional, para bordes redondeados
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Sombra para darle un efecto
    
}


.etiqueta_1 , .etiqueta_2 , .etiqueta_3 , .etiqueta_4{
    display: flex;
    display: block;
    margin-bottom: 20px;
    
}